<input #query (keyup.enter)="onEnter(query.value)" type="search" placeholder="search here..." style="margin: 10px">
<button type="submit" class="btn btn-primary" (click)="onEnter(query.value)"  style="margin: 5px">search</button>
<div>
    <div>
        <ul>
            <li *ngFor="let item of items"><a href="{{item.siteLink}}" target="_blank">
                <img src="{{item.image}}" alt="News image" height="100px" width="200px">
            </a><p>{{item.title}}</p></li>
        </ul>
    </div>
    <hr>
<app-news-info-modal></app-news-info-modal>
</div>