<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 15px">
    <a class="navbar-brand" routerLink="/">Stephen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto navbar-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a> -->
          <!-- <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a> -->
          <!-- </div> -->
        <!-- </li> -->
     <div *ngIf="">
            <a class="nav-item nav-link" routerLink="/profile">  <img class="nav-img rounded-circle" src= ""  height="30px" width="auto"> </a>
     </div>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" >Register</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-md-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  
